In [1]:
import pandas as pd

In [3]:
data = pd.read_csv('/Users/pro/Desktop/train.csv')
data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [8]:
data_features = data[['Pclass','Age','Sex','SibSp','Parch']]
data_targets = data['Survived']

In [9]:
data_features

     Pclass   Age     Sex  SibSp  Parch
0         3  22.0    male      1      0
1         1  38.0  female      1      0
2         3  26.0  female      0      0
3         1  35.0  female      1      0
4         3  35.0    male      0      0
..      ...   ...     ...    ...    ...
886       2  27.0    male      0      0
887       1  19.0  female      0      0
888       3   NaN  female      1      2
889       1  26.0    male      0      0
890       3  32.0    male      0      0

[891 rows x 5 columns]

In [10]:
data_features.fillna(data_features['Age'].mean(),inplace=True)

/Users/pro/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4465: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  downcast=downcast,

In [11]:
data_predict_features = data_features[-10:]
data_predict_targets = data_targets[-10:]

data_features = data_features[:-10]
data_targets = data_targets[:-10]

In [12]:
from sklearn.feature_extraction import DictVectorizer
vect = DictVectorizer()
data_features = data_features.to_dict(orient='record')
data_features = vect.fit_transform(data_features)

data_predict_features = data_predict_features.to_dict(orient='record')
data_predict_features = vect.fit_transform(data_predict_features)

/Users/pro/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:1554: FutureWarning: Using short name for 'orient' is deprecated. Only the options: ('dict', list, 'series', 'split', 'records', 'index') will be used in a future version. Use one of the above to silence this warning.
  FutureWarning,

In [14]:
feature_names = vect.get_feature_names()
feature_names

/Users/pro/opt/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

['Age', 'Parch', 'Pclass', 'Sex=female', 'Sex=male', 'SibSp']

In [16]:
features_array = data_features.toarray()
features_array

array([[22.        ,  0.        ,  3.        ,  0.        ,  1.        ,
         1.        ],
       [38.        ,  0.        ,  1.        ,  1.        ,  0.        ,
         1.        ],
       [26.        ,  0.        ,  3.        ,  1.        ,  0.        ,
         0.        ],
       ...,
       [29.69911765,  0.        ,  3.        ,  0.        ,  1.        ,
         0.        ],
       [56.        ,  1.        ,  1.        ,  1.        ,  0.        ,
         0.        ],
       [25.        ,  1.        ,  2.        ,  1.        ,  0.        ,
         0.        ]])

In [17]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(data_features,data_targets,test_size=0.25)

In [18]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(x_train,y_train)

RandomForestClassifier()

In [20]:
acc = rf.score(x_test,y_test)
acc

0.8144796380090498

In [21]:
result = rf.predict(data_predict_features)
result

array([0, 1, 0, 0, 0, 0, 1, 1, 1, 0])