# Bayes

## 1. Mate data

In [1]:
import pandas as pd

In [9]:
data = pd.read_csv('/Users/pro/Downloads/heart.csv')

In [10]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

## 2. Process data

In [11]:
data = data.sample(frac=1).reset_index(drop=True)

In [20]:
data

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,71,0,1,160,302,0,1,162,0,0.4,2,2,2,1
1,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
2,63,0,2,135,252,0,0,172,0,0.0,2,0,2,1
3,70,1,1,156,245,0,0,143,0,0.0,2,0,2,1
4,64,1,2,125,309,0,1,131,1,1.8,1,0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,42,1,0,136,315,0,1,125,1,1.8,1,0,1,0
299,60,0,3,150,240,0,1,171,0,0.9,2,0,2,1
300,57,1,0,110,201,0,1,126,1,1.5,1,0,1,1
301,54,0,2,135,304,1,1,170,0,0.0,2,0,2,1
302,57,1,1,124,261,0,1,141,0,0.3,2,0,3,0

In [21]:
data_target = data['target']
data_feature = data.drop('target',axis=1)

In [22]:
data_predict_feature = data_feature[-10:]
data_predict_target = data_target[-10:]

In [23]:
data_feature = data_feature[:-10]
data_target = data_target[:-10]

In [24]:
# split
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test = train_test_split(data_feature,data_target,test_size=0.25)

## 3.Train

### 1. Gaussian

In [27]:
from sklearn.naive_bayes import GaussianNB

guss_nb = GaussianNB()
guss_nb.fit(x_train,y_train)

GaussianNB()

In [29]:
guss_acc = guss_nb.score(x_test,y_test)
guss_acc

0.8513513513513513

In [30]:
# prediction
guss_result = guss_nb.predict(data_predict_feature)

In [31]:
guss_result

array([1, 0, 0, 0, 1, 0, 1, 0, 1, 1])

### 2. Multinomial

In [32]:
from sklearn.naive_bayes import MultinomialNB

multi_nb = MultinomialNB()
multi_nb.fit(x_train,y_train)

MultinomialNB()

In [33]:
multi_acc = multi_nb.score(x_test,y_test)

In [34]:
multi_acc

0.7972972972972973

In [35]:
# prediction
multi_result = multi_nb.predict(data_predict_feature)

In [36]:
multi_result

array([1, 0, 0, 0, 1, 0, 1, 0, 1, 1])